@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angularjs/app.js"></script>
    <script src="~/Scripts/angularjs/controller.js"></script>
    <script src="~/Scripts/angularjs/directives.js"></script>
</head>
<body ng-app="MyApp">
    <div ng-controller="MyCtrl1">
        {{message}}
    </div>
    <div ng-controller="MyCtrl2">
        {{message}}
    </div>
    <italicbold>Sezan Haque</italicbold>
</html>
