@model IEnumerable<VJP_Entity.Event>

@{
                /**/

                ViewBag.Title = "Index";
                Layout = "~/Views/Shared/_JudgeLayout.cshtml";
}

<div class="row">
    <div class="container">

        <h4>Active Event</h4>
        <hr />
        @foreach (var item in Model)
        {
            if (item.ClosingDate >= DateTime.Now)
            {
                <ul>
                    <li>
                        <div style="justify-content: space-between; display: flex; padding: 20px 1px 20px 1px;
                        border: 1px solid #C2C7D0; border-radius: 10px; margin-bottom: 20px">
                            <div style="padding-left: 30px; display: flex">
                                <p style="padding-right:30px">@item.EventTitle</p>
                                <p style="padding-right:30px">Starts at @item.StartingDate.ToShortDateString()</p>
                                <p>Ends at @item.ClosingDate.ToShortDateString()</p>
                            </div>
                            <div style="display: flex;">
                                <p style="padding-right:30px">@item.Description</p>
                                <a style="padding: 0.15rem 0.8rem; margin-right: 20px" class="btn btn-outline-success btn-sm" href="/Judge/EventProjects/@item.Id">Details</a>
                            </div>
                        </div>
                    </li>
                </ul>
            }
        }
    </div>
</div>
